@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @keyframes wallAnimation {
    0% {
      transform: scale(0.3);
      background-color: rgb(12, 53, 71);
    }

    50% {
      transform: scale(1.2);
      background-color: rgb(12, 53, 71);
    }

    100% {
      transform: scale(1);
      background-color: rgb(12, 53, 71);
    }
  }

  @keyframes specialNodes {
    0% {
      transform: scale(0.3);
      /*background-color: darkslategrey;*/
    }

    50% {
      transform: scale(1.2);
      /*background-color: darkslategrey;*/
    }

    100% {
      transform: scale(1);
      /*background-color: darkslategrey;*/
    }
  }

  @keyframes visitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: rgba(0, 0, 66, 0.75);
      border-radius: 100%;
    }

    50% {
      background-color: rgba(17, 104, 217, 0.75);
    }

    75% {
      transform: scale(1.2);
      background-color: rgba(0, 217, 159, 0.75);
    }

    100% {
      transform: scale(1);
      background-color: rgba(0, 190, 218, 0.75);
    }
  }

  @keyframes visitedObjectAnimation {
    0% {
      transform: scale(0.3);
      background-color: rgba(41, 4, 24, 0.75);
      border-radius: 100%;
    }

    50% {
      background-color: rgba(97, 0, 20, 0.75);
    }

    75% {
      transform: scale(1.2);
      background-color: rgba(216, 5, 141, 0.75);
    }

    100% {
      transform: scale(1);
      background-color: rgba(178, 67, 255, 0.75);
    }
  }

  @keyframes triangletwo {
    0% {
      transform: scale(0.6);
      background-color: rgb(255, 254, 106);
    }

    50% {
      transform: scale(1.2);
      background-color: rgb(255, 254, 106);
    }

    100% {
      transform: scale(1);
      background-color: rgb(255, 254, 106);
    }
  }

  .wall {
    padding: 0 !important;
    border: none !important;
    animation-name: wallAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  .start {
    /*border: 1px solid rgb(175, 216, 248);*/
    background-image: url(../assets/start-arrow.svg);
    /* background-color: rgb(255, 254, 106); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: specialNodes;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  .target {
    /*border: 1px solid rgb(175, 216, 248);*/
    background-image: url(../assets/target.svg);
    /*background-color: rgb(255, 254, 106);*/
    /*background-color: rgba(232, 147, 12, 0.75);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: specialNodes;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  .visited {
    border: none !important;
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  .weighted {
    background-color: rgba(0, 217, 159, 0.75);
  }

  .visitedobject {
    /*background:red*/
    border: 1px solid rgb(175, 216, 248);
    animation-name: visitedObjectAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  .current {
    border: 1px solid rgb(175, 216, 248);
    background-color: rgb(255, 254, 106);
  }

  .shortest-path {
    /*border: 1px solid rgb(175, 216, 248);*/
    background-color: rgb(255, 254, 106);
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: contain;*/
    animation-name: triangletwo;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  .legend-start {
    background-image: url(../assets/start-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
  }

  .legend-target {
    background-image: url(../assets/target.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
  }

  .legend-unvisited {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
  }

  .legend-visited {
    background-color: rgba(0, 190, 218, 0.75);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
  }

  .legend-wall {
    background-color: rgb(12, 53, 71);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
  }

  .legend-shortest-path {
    background-color: rgb(255, 254, 106);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
  }

  .legend-weighted {
    background-color: rgb(255, 167, 38);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
  }

  /* .menu .MuiPaper-root {
    @apply !absolute !bg-black !text-white;
  }

  .menu .MuiList-root {
    @apply !p-0;
  }

  .menu .MuiMenuItem-root {
    @apply !block  !py-3.5 !text-sm !font-light !text-[#b3b3b3] !transition !duration-200 first:!font-normal hover:!bg-[#11100F];
  } */
}
